

<div class="container mt-4">
    <div class="table-responsive">
        <table class="table table-bordered table-striped align-middle text-center">
            <thead class="table-dark">
                <tr>
                    <th>My Photo</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <img src="~/Content/Me.jpg" alt="Me.jpg" class="img-thumbnail" width="120" height="120" />
                    </td>
                    <td class="text-start">
                        <strong>Name:</strong> Boitshoko <br />
                        <strong>Surname:</strong> Mphahlele <br />
                        <strong>Student Number:</strong> u24634400
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div>
    <h2>Steps I followed:</h2>
    <ul>
        <li>
            After opening my project I first opened the Index view which is found in the Views folder in the Home controller folder
        </li>
        <li>
            Secondly I removed everything that I found in the Index view
        </li>
        <li>
            Then I created my table which has a picture of me in one column and my details in the other column
        </li>
        <li>
            After that I opened a div that contains my list of steps, listed in bullet points
        </li>
    </ul>



</div>
